/*ALL PAGES*/
.title {
  font-family: 'Permanent Marker', serif;
  font-size: 3em;
  color: #5d4124;
  background-color: #5988b9;
  padding: .7em 0;
  margin-top: -16px;
}
@media screen and (min-width: 45.5em) {
  .title {
    background-color: white;
    margin: -.3em auto .3em;
    opacity: .9;
  }
}

a {
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  color: #5988b9;
}
a:hover {
  text-decoration: none;
  color: white;
}

/*FORM PAGE*/
body {
  margin: auto 0;
  text-align: center;
}
/*large display*/
@media screen and (min-width: 45.5em) {
  body {
    margin: auto 0;
    text-align: center;
    background: url("app/converse-fields.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}

.form-page {
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 2em;
  width: 90%;
}

@media screen and (min-width: 28.75em) {
  .form-page {
    width: 70%;
    background-color: white;
  }
}
/*large display*/
@media screen and (min-width: 45.5em) {
  .form-page {
    width: 50%;
    background-color: white;
    opacity: .8;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border: #5d4124 1px solid;
  }
}

.game-form {
  margin: 0 -10;
}

h2 {
  font-family: 'Muli', sans-serif;
  color: #5d4124;
  font-size: 2.2em;
  margin: .9em auto .3em;
  text-decoration: underline;
}

.button {
  margin: 15px auto;
  font-family: 'Muli', sans-serif;
  background-color: #43a101;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
  font-size: 1.5em;
  display: block;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 21px 0px #43a101;
}

.button:hover {
  background-image: url(http://media.giphy.com/media/138i1MiNVi9P0Y/giphy.gif);
}

a.button {
  width: 260px;
  padding: 9px 15px;
  color: black;
  background-image: none;
  background-color: #f9cc68;
  font-size: 1.3em;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 21px 0px #f9cc68;
}

a.button:hover {
  background-color: brown;
  background-image: none;
}

.button-text {
  display: block;
  font-size: .5em;
}

label span {
  display: block;
  font-family: 'Muli', sans-serif;
  font-size: 1.5em;
  color: #5d4124;
}

select {
  margin-top: 5px;
  margin-bottom: 20px;
}

/*GAMES SHOW PAGE*/
.no-games-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
  background-color: white;
}

/*for medium displays*/
@media screen and (min-width: 28.75em) {
  .no-games-container {
    width: 75%;
    opacity: .9;
    padding: 2px;
    margin-top: 15px;
    border-radius: 4px;
  }
}

/*for larger displays*/
@media screen and (min-width: 50.5em) {
  .no-games-container {
    width: 50%;
    opacity: .9;
    padding: 2px;
    margin-top: 15px;
    border-radius: 4px;
  }
}

ul.games {
  padding-left: 0;
}

.games li {
  list-style-type: none;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
}

.games li:first-of-type {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.games li:last-of-type {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/*for medium displays*/
@media screen and (min-width: 28.75em) {
  .games li {
    width: 70%;
  }
}

/*for larger displays*/
@media screen and (min-width: 40.5em) {
  .games li {
    width: 60%;
    background-color: white;
    padding: 2em;
    opacity: .9;
    margin-bottom: 0;
  }
}

.games .game-name {
  color: #5d4124;
  display: block;
  font-size: 1.8em;
  border: #f9cc68 solid 4px;
  margin-bottom: .2em;
  border-radius: 4px;
  margin: auto;
  text-align: center;
}

/*large displays*/
@media screen and (min-width: 40.5em) {
  .games .game-name {
    width: 45%;
  }
}

@media screen and (min-width: 28.75em) {
  .games .game-name {
    width: 85%;
  }
}

.games .description {
  font-size: 1.2em;
  line-height: 1.3em;
  color: #5d4124;
}

.back {
  font-family: 'Muli', sans-serif;
  background-color: #43a101;
  border: none;
  padding: 7px 15px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
  font-size: 1em;
  color: white;
}

/*no games page*/
.youtube:hover {
  color: hotpink;
}

.songlink {
  padding: 3px;
}

.no-games {
  font-family: 'Muli', sans-serif;
  margin-top: 1.5em;
  margin-bottom: 1.1em;
  color: #5d4124;
}

.dance-party {
  margin: -.2em 0;
  text-decoration: none;
  color: #5988b9;
}

/*animation while the page is loading*/
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}
