<h1 class="title">Back Pocket Games</h1>

<a class="back" href="/">back</a>

<div *ngIf="pendingRequest">
  <h1>Wait for it...</h1>
</div>

  <div class="no-games-container" *ngIf="!pendingRequest && matchingGames.length === 0">
    <h2>No games match your search.</h2>
    <h2>How about a dance party?</h2>
    <p class="jams">Here are some overplayed jams that children love:</p>
    <div class="songlink">
      <a class="youtube" href="https://youtu.be/y6Sxv-sUYtM">Happy - Pharrell Williams</a>
    </div>
    <div class="songlink">
      <a class="youtube" href="https://youtu.be/OPf0YbXqDm0">Uptown Funk - Bruno Mars</a>
    </div>
    <div class="songlink">
      <a class="youtube" href="https://youtu.be/pIOOwhmkoLo">Party Rock Anthem - LMFAO</a>
    </div>
    <div class="songlink">
      <a class="youtube" href="https://youtu.be/M11SvDtPBhA">Party In The U.S.A. - Miley Cyrus</a>
    </div>

  </div>

  <div *ngIf="!pendingRequest && matchingGames.length > 0">
    <h2>Try one of these:</h2>

    <ul class="games">
      <li *ngFor="#game of matchingGames">

        <span class="game-name">{{ game.name }}</span>
        <span class="description">{{game.description}}</span>
        TIME: {{game.time_range}}
        Players: {{game.num_of_players}}
        {{game.noise}}
      </li>
    </ul>
</div>
