<div class="ui raised segment">
    <h2 class="ui header">Test Form</h2>
<!-- ngForm is automatically attached to any form tags I have     -->
    <form #f="ngForm"
          (ngSubmit)="onSubmit(f.value)"
          class="ui form">

      <div class="field">
        <label for="equipInput">Equipment</label>
        <select ngControl="equipment">
          <option *ngFor="#e of equipment" [value]="e"> {{e}} </option>
        </select>
      </div>

      <div class="field">
        <label for="noiseInput">Noise Level</label>
        <select ngControl="noise">
          <option> Outside Voice </option>
          <option> Inside Voice </option>
        </select>
      </div>


      <button type="submit" class="ui button">Submit</button>
    </form>
  </div>
