<div class="form-page">
  <h1 class="title">Back Pocket Games</h1>

  <!-- <a href="http://localhost:3001/auth/facebook">Login with facebook</a>
  <a href="http://localhost:3001/logout">Logout</a> -->
    <h2 class="ui header">FIND A GAME</h2>
<!-- ngForm is automatically attached to any form tags I have     -->
    <form #f="ngForm"
          (ngSubmit)="onSubmit(f.value)"
          class="game-form">

      <div class="field">
        <label for="timeInput"><span>Time:</span></label>
        <select ngControl="time" name="time" #t="ngForm" ngModel="doesntmatter">
          <option value="doesntmatter">Doesn't Matter</option>
          <option *ngFor="#t of time" [value]="t"> {{t}} </option>
        </select>
      </div>

      <div class="field">
        <label for="playersInput"><span>Number of Players:</span></label>
        <select ngControl="players" name="players" #p="ngForm" ngModel="whatever">
          <option value="whatever">Whatever</option>
          <option *ngFor="#p of players" [value]="p"> {{p}} </option>
        </select>
      </div>

      <div class="field">
        <label for="equipInput"><span>Equipment:</span></label>
        <select ngControl="equipment" name="equipment" #e="ngForm" ngModel="None">
          <option *ngFor="#e of equipment" [value]="e"> {{e}} </option>
        </select>
      </div>

      <div class="field">
        <label for="noiseInput"><span>Noise Level:</span></label>
        <select ngControl="noise" name="noise" #n="ngForm" ngModel="whatever">
          <option value="whatever">Whatever</option>
          <option *ngFor="#n of noise" [value]="n"> {{n}} </option>
        </select>
      </div>

      <button type="submit" name="action" value="go" class="button">Go!</button>
      <a [routerLink]="['Games', { type: 'random' }]" class="button">
        <span class="button-text">Give me anything!</span>
        I'm Feeling Desperate</a>
    </form>
  </div>
