<div class="form-page">
    <h2 class="ui header">Find a Game</h2>
<!-- ngForm is automatically attached to any form tags I have     -->
    <form #f="ngForm"
          (ngSubmit)="onSubmit(f.value)"
          class="ui form">

      <div class="field">
        <label for="timeInput"><span>Time</span></label>
        <select ngControl="time" name="time" #t="ngForm" ngModel="doesntmatter">
          <option value="doesntmatter">Doesn't Matter</option>
          <option *ngFor="#t of time" [value]="t"> {{t}} </option>
        </select>
      </div>

      <div class="field">
        <label for="playersInput"><span>Number of Players</span></label>
        <select ngControl="players" name="players" #p="ngForm" ngModel="whatever">
          <option value="whatever">Whatever</option>
          <option *ngFor="#p of players" [value]="p"> {{p}} </option>
        </select>
      </div>

      <div class="field">
        <label for="equipInput"><span>Equipment</span></label>
        <select ngControl="equipment" name="equipment" #e="ngForm" ngModel="none">
          <option *ngFor="#e of equipment" [value]="e"> {{e}} </option>
        </select>
      </div>

      <div class="field">
        <label for="noiseInput"><span>Noise Level</span></label>
        <select ngControl="noise" name="noise" #noise="ngForm" ngModel="Outside Voice">
          <option value="Outside Voice"> Outside Voice </option>
          <option> Inside Voice </option>
        </select>
      </div>

      <button type="submit" class="ui button">Submit</button>
    </form>
  </div>
